
# Lecture 03 — Expressions, Operators & I/O - Jupyter Notebook

This notebook mirrors the lecture 03 on "Expression, Operators, and Input/Output in Python". It provides runnable code examples with explanations. The content include the following parts:  

1. Real‑life Example (Bookstore Cashier)  
2. Variables, Data Types & Values  
3. Expressions & Operators
4. Input & Output
5. Mini Exercises  
6. Summary


## Part 1 — Real‑life Example: Bookstore Cashier

**Task**: Compute the total payment for items in a basket.  
**Decomposition**: `total = sum(amount of each item)`  
**Pattern Recognition & Abstraction**: `amount = quantity × price`  
**Algorithm**: initialize total to 0, iterate items, accumulate, print total.

We'll demonstrate multiple approaches and discuss money‑handling notes.

In [ ]:
# Example dataset: each item has a name, quantity (int), and unit price (float)
basket = [
    {"title": "Intro to Python", "qty": 2, "price": 12.50},
    {"title": "Data Science 101", "qty": 1, "price": 25.00},
    {"title": "Algorithms Illustrated", "qty": 3, "price": 9.99},
]

# Approach 1: straightforward loop
total = 0.0
for item in basket:
    amount = item["qty"] * item["price"]
    total += amount

print("Total (loop):", total)

# Approach 2: comprehension + sum
total2 = sum(item["qty"] * item["price"] for item in basket)
print("Total (comprehension):", total2)

Total (loop): 79.97
Total (comprehension): 79.97
32

In [21]:
# Money handling best practice: use Decimal for exact decimal arithmetic (avoids binary float rounding)
from decimal import Decimal, ROUND_HALF_UP, getcontext

getcontext().prec = 28  # sufficient precision for typical currency tasks
basket_decimal = [
    {"title": "Intro to Python", "qty": 2, "price": Decimal("12.50")},
    {"title": "Data Science 101", "qty": 1, "price": Decimal("25.00")},
    {"title": "Algorithms Illustrated", "qty": 3, "price": Decimal("9.99")},
]

total_dec = sum(Decimal(item["qty"]) * item["price"] for item in basket_decimal)
# Round to 2 decimal places in a currency‑like way
total_dec = total_dec.quantize(Decimal("0.01"), rounding=ROUND_HALF_UP)
print("Total (Decimal, currency‑rounded):", total_dec)

Total (Decimal, currency‑rounded): 79.97


**Edge Cases**  
- Empty basket → total is 0.  
- Negative or zero quantities or prices should be validated.  
- Very large quantities/prices → consider integer cents with `Decimal` or integer math.

In [22]:
# Edge case demo: empty basket
empty_basket = []
total_empty = sum(item["qty"] * item["price"] for item in empty_basket)
print("Total for empty basket:", total_empty)

Total for empty basket: 0


## Part 2 — Variables, Data Types & Values

A **variable** is a named reference to a value. A **data type** defines the kind of value and what operations are valid on it.

In [23]:
# Basic assignments and types
x = 5                       # int
y = 3.14                    # float
s = "Hello"                 # str
flag = True                 # bool
scores = {"Math": 8.4, "English": 9.0, "Physics": 6.5}  # dict
courses = ("Math", "English", "Physics")                # tuple
bag = ["it's", "a", "good", "day"]                      # list
none_val = None

print(type(x), type(y), type(s), type(flag))
print(type(scores), type(courses), type(bag), type(none_val))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'dict'> <class 'tuple'> <class 'list'> <class 'NoneType'>


**Naming Rules (illustrative)**  
- Letters, digits, underscores (`total_payment`, `_helper`)  
- Cannot start with a digit (`2var` ❌)  
- Case‑sensitive (`myVar` vs `myvar`)  
- Avoid Python keywords (`if`, `for`, `else`, ...)

In [24]:
# Dynamic typing & type casting
v = 10            # int
print("v =", v, "| type:", type(v))

v = "Now a string"  # same name, new type
print("v =", v, "| type:", type(v))

# Type casting (conversion)
num_str = "42"
num_int = int(num_str)
num_float = float(num_str)
print(num_int, type(num_int), "|", num_float, type(num_float))

# Safe casting with defaults
def to_int_safe(text, default=0):
    try:
        return int(text)
    except ValueError:
        return default

print("to_int_safe('15') =", to_int_safe("15"))
print("to_int_safe('15.2') =", to_int_safe("15.2"))
print("to_int_safe('abc') =", to_int_safe("abc", default=-1))

v = 10 | type: <class 'int'>
v = Now a string | type: <class 'str'>
42 <class 'int'> | 42.0 <class 'float'>
to_int_safe('15') = 15
to_int_safe('15.2') = 0
to_int_safe('abc') = -1


### Local & Global Variables (Scope)

- **Local**: defined inside a function, accessible only there.  
- **Global**: defined at the top level and accessible inside functions (read‑only by default).  
- Use `global` carefully; prefer returning values.

In [25]:
# Global vs Local demonstration
g = 10  # global variable

def add_to_global_bad(x):
    # This reads g (OK) but tries to modify it without declaring global → would be an error if assignment used.
    return g + x

def add_to_global_good(x):
    global g
    g = g + x  # explicit modification of global (not recommended generally)
    return g

def pure_function_increment(g_val, x):
    # Preferred: avoid globals, return new value
    return g_val + x

print("Initial g:", g)
print("Read-only use of g:", add_to_global_bad(5))
print("After modifying g with global:", add_to_global_good(3))
print("Now g is:", g)
print("Pure function result:", pure_function_increment(g, 7), "| g is still:", g)

Initial g: 10
Read-only use of g: 15
After modifying g with global: 13
Now g is: 13
Pure function result: 20 | g is still: 13


## Part 3 — Expressions & Operators

An **expression** combines operands and operators to produce a value.  
Examples: `x = 3 + 5`, `y = (3 * 7 + 2) * 0.1`

### 3.1 Arithmetic Operators

In [26]:
a, b = 7, 3
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)     # float division
print("a // b =", a // b)   # floor division
print("a % b =", a % b)     # modulus
print("a ** b =", a ** b)   # exponentiation

a + b = 10
a - b = 4
a * b = 21
a / b = 2.3333333333333335
a // b = 2
a % b = 1
a ** b = 343

### 3.2 Comparison Operators

In [27]:
x, y = 10, 20
print("x < y:", x < y)
print("x == y:", x == y)
print("x != y:", x != y)

# Floats: use math.isclose for equality
import math
f1 = 0.1 + 0.2
f2 = 0.3
print("0.1 + 0.2 == 0.3 ?", f1 == f2)
print("math.isclose(0.1 + 0.2, 0.3) ?", math.isclose(f1, f2))

# Strings: Unicode code point comparison (lexicographic)
print("'Apple' < 'banana':", "Apple" < "banana")

# Lists & Tuples: lexicographic item-by-item
print("[1, 9] < [2, 0] :", [1, 9] < [2, 0])
print("(1, 9) < (1, 10):", (1, 9) < (1, 10))

x < y: True
x == y: False
x != y: True
0.1 + 0.2 == 0.3 ? False
math.isclose(0.1 + 0.2, 0.3) ? True
'Apple' < 'banana': True
[1, 9] < [2, 0] : True
(1, 9) < (1, 10): True

### 3.3 Logical Operators

In [28]:
score = 8
absence = 1
print("Pass?", (score >= 5) and (absence < 3))

is_member = False
has_coupon = True
print("Discount?", is_member or has_coupon)

print("not True =", not True)

Pass? True
Discount? True
not True = False

### 3.4 Bitwise Operators

In [29]:
def as_bin(n, width=8):
    return format(n, f"0{width}b")

p, q = 0b1100, 0b1010  # 12 and 10
print("p     :", as_bin(p))
print("q     :", as_bin(q))
print("p & q :", as_bin(p & q))   # AND
print("p | q :", as_bin(p | q))   # OR
print("p ^ q :", as_bin(p ^ q))   # XOR
print("~p    :", as_bin((~p) & 0xFF))  # NOT (mask to 8 bits for display)
print("p << 1:", as_bin(p << 1))
print("p >> 2:", as_bin(p >> 2))

p     : 00001100
q     : 00001010
p & q : 00001000
p | q : 00001110
p ^ q : 00000110
~p    : 11110011
p << 1: 00011000
p >> 2: 00000011

### 3.5 Assignment Operators

In [30]:
n = 5
n += 2   # n = n + 2
n *= 3   # n = n * 3
n -= 1   # n = n - 1
n //= 2  # n = n // 2
print("n =", n)

n = 10

### 3.6 Membership Operators

In [31]:
words = ["python", "java", "c++"]
print("'python' in words?", "python" in words)
print("'rust' not in words?", "rust" not in words)
print("'p' in 'python'", 'p' in 'python')
print("'c' in 'python'", 'c' in 'python')

'python' in words? True
'rust' not in words? True
'p' in 'python' True
'c' in 'python' False

### 3.7 Operator Precedence & Associativity

In [32]:
# Without parentheses, Python uses operator precedence rules
expr1 = 3 + 5 * 2       # * before +
expr2 = (3 + 5) * 2     # parentheses force evaluation order
print("3 + 5 * 2 =", expr1)
print("(3 + 5) * 2 =", expr2)

# Right-associativity example for exponentiation
print("2 ** 3 ** 2 =", 2 ** 3 ** 2)       # 2 ** (3 ** 2) = 2 ** 9
print("(2 ** 3) ** 2 =", (2 ** 3) ** 2)   # (2 ** 3) ** 2 = 8 ** 2

3 + 5 * 2 = 13
(3 + 5) * 2 = 16
2 ** 3 ** 2 = 512
(2 ** 3) ** 2 = 64


### 3.8. Expressions in Practice

In [33]:
# In conditions
score, absence = 6, 2
if (score >= 5) and (absence < 3):
    print("Eligible for certificate.")
else:
    print("Not eligible.")

# In loops
x = 0
while x < 3:
    print("x =", x)
    x += 1

# In list comprehension
squares_of_even = [n**2 for n in range(10) if n % 2 == 0]
print("Squares of even numbers:", squares_of_even)

# In functions
def square(n):
    return n ** 2

print("square(7) =", square(7))

# Nested expressions
a, b, c = 3, 8, 2
print("Nested:", (max(a, b, c) > 7) and ((a + b) % 2 == 1))

Eligible for certificate.
x = 0
x = 1
x = 2
Squares of even numbers: [0, 4, 16, 36, 64]
square(7) = 49
Nested: True


## Part 4 — Input & Output (I/O)

Python's `input()` reads user input as a **string**.  
We demonstrate both interactive input and simulated input so the notebook runs non‑interactively.

In [34]:
# Interactive input (uncomment to try in Colab/Notebook)
# name = input("Enter your name: ")
# age_str = input("Enter your age: ")
# age = int(age_str)  # type cast from str to int
# print(f"Hello {name}, you are {age} years old.")

# Simulated input for reproducible execution
simulated_name = "Alex"
simulated_age_str = "21"
simulated_age = int(simulated_age_str)

print(f"Hello {simulated_name}, you are {simulated_age} years old.")

Hello Alex, you are 21 years old.


### Multiple Inputs
Split a single line into many values using `.split()`.

In [35]:
# Interactive version (uncomment to try):
# line = input("Enter three integers separated by spaces: ")
# a_str, b_str, c_str = line.split()
# a, b, c = int(a_str), int(b_str), int(c_str)

# Simulated:
line = "10 20 30"
a_str, b_str, c_str = line.split()
a, b, c = int(a_str), int(b_str), int(c_str)
print("Parsed:", a, b, c, "| sum =", a + b + c)

Parsed: 10 20 30 | sum = 60


### Handling Common Mistakes
Forgetting to cast types or passing invalid input can cause errors. Use `try/except` to validate.

In [36]:
def read_int_safe(text: str):
    """Convert a string to an int, returning None if invalid."""
    try:
        return int(text)
    except ValueError:
        return None

tests = ["42", "3.14", "abc"]
for t in tests:
    print(t, "->", read_int_safe(t))

42 -> 42
3.14 -> None
abc -> None


### Printing & String Formatting

In [37]:
# Basics of print
x, y = 7, 3
print("x =", x, "| y =", y, "| x+y =", x + y)

# f-strings
user = "Taylor"
score = 9.25
print(f"User {user} has score {score:.2f}")

# .format()
template = "Coordinates: x={0}, y={1}"
print(template.format(12.5, -3))

template = "{} has got {} grade"
student_list = {"An": "A+", "Bach": "B", "Huong": "B+"}
for student_name in student_list:
  print(template.format(student_name, student_list[student_name]))

# Alignment & width
for n in [1, 12, 123]:
    print(f"{n:>5d}")  # right-aligned in width 5

# Number formatting
pi = 3.1415926535
print(f"pi to 3 decimals: {pi:.3f}")
print("pi to 3 decimals (format): {:.3f}".format(pi))

x = 7 | y = 3 | x+y = 10
User Taylor has score 9.25
Coordinates: x=12.5, y=-3
An has got A+ grade
Bach has got B grade
Huong has got B+ grade
    1
   12
  123
pi to 3 decimals: 3.142
pi to 3 decimals (format): 3.142


## Part 4 — Mini Exercises

1. **Total with Discount**: Given a `basket` and a `discount_rate` (e.g., 0.1 for 10%), compute the discounted total using `Decimal`.  
2. **Pass/Fail Logic**: A student passes if score ≥ 5 and absences < 3. Write a function `passed(score, absences)` that returns `True`/`False`.  
3. **Bitwise Mask**: Given an integer `n`, clear (set to 0) the 2nd bit (value 2) and print the result.

In [38]:
from decimal import Decimal, ROUND_HALF_UP

def discounted_total(basket, discount_rate=Decimal("0.10")):
    total = sum(Decimal(item["qty"]) * Decimal(str(item["price"])) for item in basket)
    total_after = total * (Decimal("1.00") - discount_rate)
    return total_after.quantize(Decimal("0.01"), rounding=ROUND_HALF_UP)

demo_basket = [
    {"title": "Intro to Python", "qty": 2, "price": "12.50"},
    {"title": "Data Science 101", "qty": 1, "price": "25.00"},
]
print("Discounted total (10%):", discounted_total(demo_basket))

def passed(score, absences):
    return (score >= 5) and (absences < 3)

print("passed(6,2) ->", passed(6, 2))
print("passed(4,1) ->", passed(4, 1))

def clear_second_bit(n: int) -> int:
    # Bit index from LSB starting at 0 → second bit has value 2 (binary 10)
    mask = ~0b10
    return n & mask

print("clear_second_bit(0b1111) =", bin(clear_second_bit(0b1111)))

Discounted total (10%): 45.00
passed(6,2) -> True
passed(4,1) -> False
clear_second_bit(0b1111) = 0b1101


## Part 5 — Summary (Key Takeaways)

- Variables name and reference values; **data types** determine allowed operations.  
- **Expressions** combine operators and operands to produce values.  
- Understand **operator categories** (arithmetic, comparison, logical, bitwise, assignment, membership) and **precedence**.  
- `input()` returns **strings** → cast to `int/float` as needed; handle errors with `try/except`.  
- Use `print`, **f‑strings**, and `.format()` for clear, formatted output.  
- For **currency**, prefer `Decimal` to avoid floating‑point rounding surprises.